@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Ever attend a Con only to realize that you've left an important part of your cosplay at home?  Have you ever found yourself purchasing that perfect, complementary piece
    for your costume, only to forget you bought it when the next Con comes around?  Fear not, Cosplay Capers has your answer!  While we can't help you remember where you
    put your items, we can help you remember that you own them! Just place each new costume piece into our Digital Wardrobe Database (DWD) and you'll have no trouble remembering
    to grab those perfect new earrings for your Jasmine Cosplay! </p>

<p>We know what your thinking!  Sure, it's great knowing that you can look through the DWD and remember that you purchased the perfect hoodie for a future Vanellope Von Schweetz
    Cosplay last year, but it takes time to go through all the different sections of your wardrobe and find the other pieces you purchased for your outfit, only to discover that
    you've forgotten to buy her iconic mint green, striped leggings! ...Isn't there a quicker way to keep track of your outfits?  YES, yes there is!  Cosplay Capers is proud to 
    introduce our newest addition to the site: Digital Outfit Design (DOD)!  This newest feature allows you to create and edit multiple outfits!  Have a perfect Leia costume, but
    are only half way done creating a kick ass Astrid cosplay?  No Worries!  Just compile the pieces you have so far for each character and you'll be able to see how well your outfits
    are coming together and if you still need to alter or purchase anything else to make them perfect!   </p>

<p>Not a cosplay fan?  No worries!  Cosplay Capers DWD and DOD will still work just as well for all clothing types and welcomes you into the DWD family!  We hope you enjoy our site!</p>

<h3>DOD Troubleshoot Reminder!</h3>

<p>-For all those utalizing our new DOD features: Until further notice, please remember to create a new clothing item in each section of your wardrobe with "..." written in the photo 
    section and a simple period (".") in the Type and Color boxes!  This will allow you to have a blank space in the drop down menue of your DOD so that you may use the program to its
    fullest potential! We apologize for the inconvenience this may cause our useres!  The DOD is still in Beta testing and Cosplay Capers hopes to have all bugs sorted out shortly! </p>