@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron mainSec">
    <h2>Cosplay Capers</h2>
    <p class="lead">We help you get organized so you can put the "play" back in Cosplay!</p>
    <p><a href="http://colossalcon.com/" target="_blank" class="btn btn-primary btn-lg">Upcoming Con! &raquo;</a></p>


</div>

<div class="row">
    <div class="col-md-4">
        <h2>Your Didital Wardrobe</h2>
        <p>
            Congratulations on your new Digital Wardrobe Database (DWD)!  Here, you'll be able to store and organize all of your favorite cosplay clothing and accessories! Just
            enter in at least a clothing type, color, and picture for each of your items and you'll never forget you managed to find that perfect piece for your next cosplay
            again...provided you can remember where you put it in your actual wardrobe that is!
        </p>
        <p><a a href="~/Outfits/Index" target="_blank" class="btn btn-default" role="button">Wardrobe! &raquo;</a></p>

    </div>
    <div class="col-md-4">
        <h2>Digital Outfit Design!</h2>
        <p>This awesome new feature allows you to create new outfits and check out what they'd look like before digging them out of your closet, only to realize the pieces don't 
        look quite as nice together as you hoped! Save the outfits you like and delete or edit those you don't!  Note: because DOD is still in beata testing, all new users are
        encouraged to visit our "About Us" section to read our "DOD Troubleshoot Reminder" and learn how to best utalize this exciting new feature! </p>
        <p><a a href="~/Outfits/Index" target="_blank" class="btn btn-default" role="button">Outfits! &raquo;</a></p>
    </div>

    <div class="col-md-4">
        <h2>About Us!</h2>
        <p>New to the site or just wan to learn more about Cosplay Capers?  Then we invite you to click the button below!</p>
        <p><a a href="~/Home/About" target="_blank" class="btn btn-default" role="button">About! &raquo;</a></p>
    </div>
</div>